@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #1A1A1A;
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
}

.dark-theme {
    color: #E5E5E5;
    background: #1A1A1A;
}

.dark-theme-link {
    color: #E5E5E5;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 3.5rem;
}

header h1 a {
    position: absolute;
    top: 1.75rem;
    left: 2rem;
    transform: translate(0, -50%);
    font-weight: 550;
    font-size: 1.25rem;
    text-decoration: none;
    color: #1A1A1A;
}

.theme-button {
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translate(0, -50%);
    font-size: 2rem;
    cursor: pointer;
}

.theme-button-inside {
    display: none;
}

.nav-button {
    position: absolute;
    top: 1.75rem;
    right: 2rem;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    width: 1.5rem;
    cursor: pointer;
}

.nav-button > * {
    border: 1.45px solid #1A1A1A;
    transition: all 300ms ease-in-out;
}

.dark-theme-burger-bar {
    border: 1.45px solid #E5E5E5;
}

.cross > *:nth-child(1) {
    transform: translate(0, 0.53rem) rotate(-45deg);
}

.cross > *:nth-child(3) {
    transform: translate(0, -0.4rem) rotate(45deg);
}

.cross > *:nth-child(2) {
    opacity: 0;
}

nav {
    position: fixed;
    top: 3.5rem;
    left: 100%;
    width: 100%;
    height: 100vh;
    transition: left 300ms ease-in-out;
}

.hide-nav {
    left: 0%;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style-type: none;
    font-size: 1.25rem;
}

nav ul li {
    width: 100%;
    border-radius: 10px;
}

nav ul a {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 1.7rem;
    text-decoration: none;
    color: #1A1A1A;
    border-radius: 10px;
}

nav ul li a:hover {
    background: #D9D9D9;
}

nav ul li .dark-theme-link:hover {
    background: #252525;
}

@media screen and (min-width: 520px) {
    .nav-button {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    header h1 {
        height: fit-content;
        padding: 0;
        display: flex;
        align-items: center;
    }

    header h1 a {
        position: static;
        transform: translate(0, 0);
    }

    .theme-button {
        display: none;
    }

    .theme-button-inside {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        width: fit-content;
    }

    nav {
        position: static;
        display: block;
        width: fit-content;
        height: 3.5rem;
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
    }

    nav ul {
        flex-direction: row;
        gap: 0.8rem;
        font-size: 1rem;
        margin-left: 1rem;
    }

    nav ul li {
        width: fit-content;
        border-radius: 0;
    }

    nav ul a {
        display: block;
        width: fit-content;
        padding: 0;
        border-radius: 0;
    }

    nav ul li a:hover,
    nav ul li .dark-theme-link:hover {
        background: transparent;
    }
}

@media screen and (min-width: 700px) {
    nav ul {
        gap: 2rem;
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 800px) {
    header {
        padding: 0 5rem;
    }
}

@media screen and (min-width: 930px) {
    nav ul {
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    header {
        padding: 0 10rem;
    }
}
