@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #1A1A1A;
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
}

.dark-theme {
    color: #E5E5E5;
    background: #1A1A1A;
}

.dark-theme-link {
    color: #E5E5E5;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background: #E5E5E5;
    z-index: 10;
    transition: box-shadow 300ms ease-in-out;
}

.dark-theme-header {
    background: #1A1A1A;
}

.header-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-theme-header-shadow {
    box-shadow: 0px 2px 8px 2px rgba(255, 255, 255, 0.1);
}

header h1 a {
    position: absolute;
    top: 2.5rem;
    left: 2rem;
    transform: translate(0, -50%);
    font-weight: 550;
    font-size: 1.25rem;
    text-decoration: none;
    color: #1A1A1A;
}

.theme-button {
    position: absolute;
    top: 50%;
    right: 5rem;
    transform: translate(0, -50%);
    font-size: 2rem;
    cursor: pointer;
}

.theme-button-inside {
    display: none;
}

.nav-button {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    width: 1.5rem;
    cursor: pointer;
}

.nav-button > * {
    border: 1.45px solid #1A1A1A;
    transition: all 300ms ease-in-out;
}

.dark-theme-burger-bar {
    border: 1.45px solid #E5E5E5;
}

.cross > *:nth-child(1) {
    transform: translate(0, 0.53rem) rotate(-45deg);
}

.cross > *:nth-child(3) {
    transform: translate(0, -0.4rem) rotate(45deg);
}

.cross > *:nth-child(2) {
    opacity: 0;
}

nav {
    position: fixed;
    top: 5rem;
    left: 100%;
    width: 100%;
    height: 100vh;
    transition: left 300ms ease-in-out;
    z-index: 10;
}

.hide-nav {
    left: 0%;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    list-style-type: none;
    font-size: 1.25rem;
}

nav ul li {
    width: 100%;
    border-radius: 10px;
}

nav ul a {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 1.7rem;
    text-decoration: none;
    color: #1A1A1A;
}

nav ul li a:hover {
    background: rgba(217, 217, 218, 0.8);
}

nav ul li .dark-theme-link:hover {
    background: rgba(37, 37, 37, 0.8);
}

section {
    transition: opacity 300ms ease-in-out;
}

.section-opacity {
    opacity: 0.05;
}

.separator {
    position: relative;
    border: 1px solid #1A1A1A;
    width: 50%;
    margin: 2rem auto;
    background: #1A1A1A;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid #1A1A1A;
    border-radius: 100%;
    background: #1A1A1A;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid #1A1A1A;
    border-radius: 100%;
    background: #1A1A1A;
}

.dark-theme-separator,
.dark-theme-separator > * {
    background: #E5E5E5;
    border: 1px solid #E5E5E5;
}


.hero {
    height: 100vh;
    padding: 15rem 2rem 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper {
    width: 55rem;
    padding: 2rem;
    gap: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
}

.hero-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-description h1 {
    font-size: 3rem;
}

.hero-description p {
    line-height: 1.7rem;
}

.hero-wrapper img {
    width: 11rem;
    border-radius: 20px;
    padding: 0.3rem;
    border: 2px solid #1A1A1A;
}

.hero-wrapper .dark-theme-image {
    border: 2px solid #E5E5E5;
}

.projects {
    height: 100vh;
    margin: 20rem 0; /* 17rem on firefox */
    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}

.project-card {
    border: 1px solid #CCCCCC;
    padding: 2rem;
    border-radius: 20px;
    width: 20rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card a {
    text-decoration: none;
    color: #1A1A1A;
}

.dark-theme-project-card a {
    color: #E5E5E5;
}

.dark-theme-project-card {
    border: 1px solid #333333;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
}

.project-card p {
    line-height: 1.5rem;
}

.project-card div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.project-card div p {
    font-size: 0.9rem;
    font-weight: 450;
    padding: 0.8rem 1.2rem;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    background: #ECECEC;
}

.dark-theme-project-card div p {
    border: 1px solid #1A1A1A;
    background: #252525;
}

.resume {
    height: 100vh;
    margin: 0 2rem 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-wrapper {
    width: 55rem;
    padding: 2rem;
    gap: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
}

.resume-wrapper img {
    width: 20rem;
    height: auto;
}

.resume-wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resume-wrapper-text h1 {
    font-size: 1.5rem;
}

.resume-wrapper-text a {
    text-decoration: none;
    color: #1A1A1A;
    padding: 1rem 1.5rem;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    transition: background 300ms;
    cursor: pointer;
    text-align: center;
}

.resume-wrapper-text a:hover {
    background: #D8D8D8;
}

.dark-theme-resume-wrapper-text a:hover {
    background: #252525;
}

.dark-theme-resume-wrapper-text a {
    color: #E5E5E5;
}

.contact {
    height: 100vh;
    margin: 0 2rem 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-contect: center;
    gap: 3rem;
}

.contact-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-links-wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.contact-links-wrapper a {
    text-decoration: none;
    color: #1A1A1A;
}

.contact-links-wrapper div {
    padding: 1rem 1.5rem;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    transition: background 300ms;
    cursor: pointer;
    text-align: center;
}

.contact-links-wrapper div:hover {
    background: #D8D8D8;
}

.dark-theme-contact-links-wrapper a {
    color: #E5E5E5;
}

.dark-theme-contact-links-wrapper div:hover {
    background: #252525;
}

.personal-email {
    text-decoration: underline;
}

.personal-email a {
    color: #1A1A1A;
}

.dark-theme-email a {
    color: #E5E5E5;
}

.or {
    position: relative;
    height: 2rem;
    width: 2rem;
    padding: 1rem;
    border-radius: 100%;
    font-size: 0.75rem;
    border: 1px solid #AAAAAA;
}

.or p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

form > * {
    padding: 1rem 1.3rem;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    background: #E5E5E5;
    border: 1px solid #AAAAAA;
    font-size: 0.9rem;
}

form button {
    width: 70%;
    margin: 0 auto;
    transition: background 300ms;
    cursor: pointer;
    font-size: 1rem;
}

form button:hover {
    background: #D8D8D8;
}

.dark-theme-form,
.dark-theme-form > * {
    background: #1A1A1A;
    color: #E5E5E5;
}

.dark-theme-form button:hover {
    background: #252525;
}

@media screen and (min-width: 520px) {
    .nav-button {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    header h1 {
        height: fit-content;
        padding: 0;
        display: flex;
        align-items: center;
    }

    header h1 a {
        position: static;
        transform: translate(0, 0);
    }

    .theme-button {
        display: none;
    }

    .theme-button-inside {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        width: fit-content;
    }

    nav {
        position: static;
        display: block;
        width: fit-content;
        height: 3.5rem;
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
    }

    nav ul {
        flex-direction: row;
        gap: 0.8rem;
        font-size: 1rem;
        margin-right: 2rem;
    }

    nav ul li {
        width: fit-content;
        border-radius: 0;
    }

    nav ul a {
        display: block;
        width: fit-content;
        padding: 0;
        border-radius: 0;
    }

    nav ul li a {
        color: #555555;
    }

    nav ul li a:hover {
        color: #000000;
        background: transparent;
    }

    nav ul li .dark-theme-link {
        color: #BFBFBF;
    }

    nav ul li .dark-theme-link:hover {
        color: #ffffff;
        background: transparent;
    }
}

@media screen and (min-width: 700px) {
    nav ul {
        gap: 2rem;
        margin-left: 1.5rem;
    }

    .hero {
        padding: 5rem 2rem;
    }

    .hero-wrapper {
        flex-direction: row;
        text-align: start;
        gap: 7rem;
        width: 60rem;
    }

    .hero-wrapper img {
        width: 17rem;
    }
}

@media screen and (min-width: 800px) {
    header {
        padding: 0 5rem;
    }

    .contact {
        margin: 0 2rem;
    }

    .contact-wrapper {
        flex-direction: row;
        margin: 0 9rem;
    }

    .contact-links {
        width: 20rem;
        text-align: center;
    }

    .contact-links-wrapper {
        flex-direction: row;
    }

    .contact-links-wrapper div {
        width: 100%;
    }

    .resume-wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 60rem;
    }

    .resume-wrapper-text h1 {
        font-size: 2rem;
    }

    .resume-wrapper img {
        width: 30rem;
    }
}

@media screen and (min-width: 850px) {
    .project-wrapper {
        flex-direction: row;
    }

    .projects {
        margin: 0;
    }

    .resume {
        margin-top: 5rem;
    } 
}

@media screen and (min-width: 930px) {
    nav ul {
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    header {
        padding: 0 10rem;
    }


}

@media screen and (min-width: 1100px {
    .resume {
        margin-top: 0;
    }
}
